.card-modal-work {
	display: flex;
	@media @laptop-m {
		flex-direction: column-reverse;
		width: min-content;
    	margin: 0 auto;
	}
	&__previews {
		flex: 1 1 auto;
	}
	&__content {
		flex: 0 0 auto;
		width: 28rem;
		height: 37rem;
    	padding: 3.33rem 1.33rem 1.33rem 1.33rem;
    	position: relative;
    	display: flex;
    	flex-direction: column;
    	@media @laptop-m {
			width: 100%;
			height: auto;
		}
	}
	&__title {
		text-transform: uppercase;
		color: @dark-text;
		font-weight: 700;
		font-size: 2.4rem;
	}
	&__subtitle {
		display: flex;
		gap: 2rem;
		margin-top: 0.4rem;
	}
	&__category {
		color: @gray-text;
		text-transform: uppercase;
		line-height: 1.1;
	}
	&__year {
		color: @gray-text;
		position: relative;
		line-height: 1.1;
		&::before{
			content: "";
			display: block;
			position: absolute;
			left: -1rem;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 0.8rem;
			background-color: @silver-bg;
		}
	}
	&__work-info {
	}
	&__description {
		color: @gray-text;
		font-size: 0.8rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		line-height: 2;
		font-weight: 300;
		max-width: 21rem;
		@media @laptop-m {
			max-width: none;
		}
	}
	&__footer{
		margin-top: auto;
	}
}