.filter {
	width: fit-content;
	&__list {
		display: flex;
		gap: 2rem;
	}
	&__item {
	}
	&__button {
		font-size: 0.8rem;
		line-height: 1rem;
		font-weight: 400;
		color: @darkest-gray-text;
		&:hover{
			opacity: 0.7;
		}
	}
}
