.footer {
	background-color: @dark-bg;
	margin-top: auto;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: .8rem 0;
		flex-wrap: wrap;
		@media @laptop {
			flex-direction: column-reverse;
		}
	}
	&__left {
		display: flex;
		align-items: center;
		margin: .5rem 0;
    	justify-content: center;
    	@media @tablet {
			flex-direction: column-reverse;
		}
	}
	&__right {
		@media @laptop {
			margin-bottom: 1rem;
		}
	}
	&__copyright {
		font-size: .93rem;
		line-height: 1.2;
		font-weight: 400;
		color: @gray-text;
		position: relative;
		margin: 0 2rem 0 0;
		@media @tablet {
			margin: 2rem 0 0 0;
		}
		&::after{
			content:"";
			position: absolute;
			right: -1rem;
			top: 50%;
			transform: translateY(-50%);
			display: block;
			width: 1px;
			height: 1.4rem;
			background-color: @gray-bg;
			opacity: .6;
			@media @tablet {
				display: none;
			}
		}
	}
	&__social {
	}
	&__nav {
	}
}

