.nav {
	display: flex;
	align-items: center;
	&__list {
		display: flex;
	}
	&__item {
	}
	&__link {
		
		
		font-size: 0.93rem;
		
		border-bottom: 3px solid transparent;
		border-top: 3px solid transparent;
		
		&--active{
			border-bottom: 3px solid @dark-border;
		}
	}
	&__button {
	}
	&--dark {
		gap: 2.66rem;
		&__list {
			gap: 2.66rem;
		}
		&__link{
			font-weight: 700;
			color: @dark-text;
			text-transform: uppercase;
			&:hover {
				border-bottom: 3px solid @dark-border;
			}
		}
	}
	&--gray {
		gap: 1.2rem;
		&__list {
			gap: 1.2rem;
		}
		&__link{
			font-weight: 400;
			color: @light-text;
			opacity: 0.4;
			&:hover {
				opacity: 1;
			}
		}
	}
}