.readme {
	margin-top: 8.66rem;
	padding: 6rem 0 3rem;
	&__header{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 3.73rem;
		@media @mobile {
			margin-bottom: 1.5rem;
		}
	}
	&__title {
	}
	&__subtitle {
		font-size: 1.2rem;
		line-height: 2.13rem;
		font-weight: 300;
		color: @dark-gray-text;
		text-align: center;
	}
	&__content {
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@media @laptop {
			grid-template-columns: repeat(1, 1fr);		
		}
	}
	&__item + &__item {
		margin: 0 0 0 2rem;
		@media @laptop {
			margin: 3rem 0 0 0;
		}
	}
	&__card {
		@media @tablet {
			margin: 0 auto;
		}
	}
	&__more {
		display: block;
		margin-top: 1.26rem;
		margin-left: auto;
		font-size: 0.93rem;
		line-height: 1.2;
		font-weight: 400;
		text-decoration: underline;
		letter-spacing: 0.05em;
		color: @dark-gray-text;
		width: fit-content;
		&:hover{
			text-decoration: none;
		}
	}
}