.resume {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6rem 1rem;
	&__title {
		margin-bottom: 5rem;
		@media @mobile {
			margin-bottom: 4rem;
		}
	}
	&__share-btns {
		display: flex;
		gap: 1rem;
		margin-bottom: 5rem;
		@media @mobile {
			flex-direction: column;
			margin-bottom: 4rem;
		}
	}
	&__download-btn {
	}
	&__print-btn {
	}
	&__timeline {
	}
	&__hireme-btn {
		margin-top: 5rem;
		@media @mobile {
			margin-top: 4rem;
		}
	}
}
@media print{
	body * { visibility: hidden; }
	.resume__title { visibility: visible; }
	.resume__timeline * { visibility: visible; }
}