.works {
	&__filter {
	}
	&__content {
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-gap: 2rem;
		@media @tablet {
			grid-template-columns: repeat(2,1fr);
		}
		@media @mobile {
			grid-template-columns: repeat(1,1fr);
		}
	}
	&__item {
	}
	&__btn {
		width: 100%;
	}
	&__card {
	}
	&__more-btn {
		margin: 2.8rem auto 0;
	}
}
