.works {
	padding: 2.66rem 0;
	&__filter {
		margin: 0 auto 2.4rem;
	}
	&__content {
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(3,minmax(220px,370px));
		gap: 2rem;
		@media @tablet {
			grid-template-columns: repeat(2,minmax(150px,350px));
		}
		@media @mobile {
			grid-template-columns: repeat(1,minmax(220px,370px));
		}
	}
	&__item {
	}
	&__btn {
		width: 100%;
	}
	&__card {
	}
	&__more-btn {
		margin: 2.8rem auto 0;
	}
}
