.circles-slider-previews {
	&__list {
		display: flex;
		gap: 0.6rem;
	}
	&__item {
	}
	&__elem {
		width: 0.8rem;
		height: 0.8rem;
		border-radius: 0.5rem;
		border: 2px solid @gray-border;
		&--active {
			background-color: @light-bg;
		}
	}
}
