html{
	font-size: 15px;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: @dark-gray-text;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}
.h2{
	font-size: 3rem;
	font-weight: 700;
	color: @dark-text;
}