@fa-font-path:        "../fontawesome/webfonts";

@dark-text:#2b2a2c;
@darkest-gray-text:#6a696b;
@dark-gray-text:#717072;
@gray-text:#8d8d8e;
@light-gray-text:#dedede;
@light-text:#fff;

@dark-bg:#2b2a2c;
@gray-bg:#717072;
@light-gray-bg:#efefef;

@dark-border:#2b2a2c;
@gray-border:#dedede;


@dark-btn-bg:#2b2a2c;
@light-btn-bg:#fff;
@gray-btn-bg:#fff;
@gray-btn-bg-hover:#717072;

@light-btn-border:#2b2a2c;
@dark-btn-border:#2b2a2c;
@gray-btn-border:#717072;


@behance-bg:#1869ff;
@dribbble-bg:#e51a68;
@linkedin-bg:#007bb6;
@facebook-bg:#3a5898;
@instagram-bg:#13578a;
@twitter-bg:#56acef;
